.navbar-peta{
    height: 100vh;
    background-color: #1E2E4A;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
}


.menu-logo{
    padding: 10px 8px;
    border-radius: 5px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00CDBF;
    transition: 500ms;
}

.menu-name{
    margin-left: 8px;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #1E2E4A;
    color: #00CDBF;
    font-weight: 500;
}

.menu-logo:hover{
    background-color: rgb(255, 255, 255);
    color: #00CDBF;
    cursor: pointer;
}
