.profile-page{
    width: 100vw;
    height: 100vh;
}

.profile-page img{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.profile-container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 290px;
    height: 400px;
    padding: 20px 0px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.profile-container img{
    width: 110px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    border: solid 2px gray;
    border-radius: 100%;
    margin-bottom: 10px;
}

.profile-container p{
    font-size: 15px;
    margin: 5px 0px;
    text-align: left;
}

.profile-container .sign-out{
    margin-top: 20px;
    padding: 12px 40px;
    background-color: rgb(192, 3, 3);
    border-radius: 20px;
    border-width: 0px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.profile-container .sign-out:hover{
    background-color: rgb(230, 6, 6);
}

.profile-container  .back-home p{
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-decoration: none;
}

.profile-container  .back-home p:hover{
    color: rgb(63, 63, 63);
}

a:-webkit-any-link{
    text-decoration: none;
}