
.login-container{
    z-index: 2;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.login-container h2{
    margin: 0px 0px 0px 0px;
}

.login-container input{
    background-color: rgba(255, 255, 255, 0);
    width: 270px;
    padding:15px 0px 15px 30px;
    border: 2px rgb(247, 247, 247) solid;
    border-radius: 5px;
}

.login-container input:focus{
  border-color: #1983ec;
  outline-width: 0;
}

.login-container button{
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #1983ec;
    color: white;
    padding: 10px;
}

.login-container button:hover{
    background-color: #0075eb;
}

.login-container .back-home p{
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-decoration: none;
}

.login-container .back-home p:hover{
    color: rgb(63, 63, 63);
}

a:-webkit-any-link{
    text-decoration: none;
}



.register-link{
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.register-link p{
    margin: 0px 1px;
    font-size: 14px;
}

.register-link p.to-register{
    color: #1983ec;
    cursor: pointer;
}

.register-link p.to-register:hover{
    color:#0075eb
}


