#keterangan{
    width: 325px;
    display: flex;
    flex-direction: column;

}

#keterangan .dropdown:hover{
    background-color: #1667b8;
}

#keterangan .dropdown p{
    margin: 0;
    font-size: 14px;
}

#keterangan .list{
    padding: 0px 10px 0px 10px;
    max-height: 83vh;
    overflow: scroll;
}

/* width */
.list::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }
  
  /* Handle on hover */
  .list::-webkit-scrollbar-thumb:hover {
    background: rgba(20, 20, 20, 1);
}

.kode{ 
    margin: 12px 0px;
    padding: 10px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 5px;
}

.kode p{
    margin: 0px 0px;
    font-size: 15px;
}

.kode p.isi{
    margin-top: 5px;
}
