#keterangan{
    width: 325px;
    display: flex;
    flex-direction: column;

}

#keterangan .dropdown:hover{
    background-color: #1667b8;
}

#keterangan .dropdown p{
    margin: 0;
    font-size: 14px; 
}

#keterangan .list{
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 15px;
    overflow: scroll;
}

/* width */
.list::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }
  
  /* Handle on hover */
  .list::-webkit-scrollbar-thumb:hover {
    background: rgba(20, 20, 20, 1);
}
