.basemap-container{
    width: 230px;
    height: 100vh;
    max-width: 100vh;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
    padding: 5px 5px;
    left: 0;
    z-index: 10001;
    transition: 500ms;
}

.item-basemap{
    position: relative;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.item-basemap img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.item-basemap .judul p{
    padding: 0px;
    margin: 0px;
}

.item-basemap .judul{
    position: absolute;
    font-size: 14px;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 5px;
    margin-bottom: 4px;
    background-color: white;
}

.item-basemap .judul .radio{
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: solid 1px;
    border-color: #1976D2;
    background-color: white;

}