.layer3{
    position: absolute;
    height: 100vh;
    background-color: white;
    z-index: 10001;
    width: 280px;
    transition: 500ms;
}

.layer-item{
    background-color: rgb(226, 226, 226);
    padding: 0.5rem;
    display: flex;
    border-radius: 10px;
    margin-bottom: 1rem;
    flex-direction: column;
    overflow-x: none;
}