.layer{
    position: absolute;
    padding: 10px;
    width: 250px;
    height: 98vh;
    background-color: white;
    z-index: 10001;
    transition: 500ms;
    overflow-y: scroll;
}

.layer p{
    font-size: 14px;
}

.layer-item{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

