.pop-up{    
    top:0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.black-layer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.login-container{
    z-index: 2;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.login-container h2{
    margin: 0px 0px 0px 0px;
}

.login-container input{
    background-color: rgba(255, 255, 255, 0);
    width: 270px;
    padding:15px 0px 15px 30px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-color: gray;
}

.login-container input:focus{
  border-color: #1983ec;
  outline-width: 0;
}

.login-container button{
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #1983ec;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.login-container button:hover{
    background-color: #0075eb;
}



.login-container .back-home p{
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-decoration: none;
}

.login-container .back-home p:hover{
    color: rgb(63, 63, 63);
}

a:-webkit-any-link{
    text-decoration: none;
}

.logo-input{
    color: gray;
    position: absolute;
    margin-top: 13px;
    margin-left: 5px;
}

.register-link{
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.register-link p{
    margin: 0px 1px;
    font-size: 14px;
}

.register-link p.to-register{
    color: #1983ec;
    cursor: pointer;
}

.register-link p.to-register:hover{
    color:#0075eb
}


