.right-sidebar{
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 998;
    display: flex;
    align-items: center;
    transition: 500ms;
    overflow: hidden;
} 

.sidebar-container{
    width: 480px; 
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    transition: 500ms;
    height: 100%;
    background-color: white;
    overflow: hidden;
}



.sidebar-container .judul{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 15px 0px 15px 0px;
    color: white;
    text-align: center;
    background-color: black;
}

.sidebar-container img{
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 40px;
    margin-bottom: 10px;
}

.tombol-sidebar{
    width: 30px;
    padding: 20px 3px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    cursor: pointer;
}

.sidebar-container .pelaporan{
    width: 300px;
    position: absolute;
    bottom: 0;
    padding: 15px 10px;
}

.sidebar-container .pelaporan button{
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(41, 141, 223);
    color: white;
    border: 0px;
    cursor: pointer;
}

.sidebar-container .pelaporan button:hover{
    background-color: rgb(8, 92, 160);
}

.sidebar-container .display-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: small;
    padding: 2px;
}

.sidebar-container .display-info img{
    width: 70px;
    height: 100px;
    margin-bottom: 1rem;
}
