.layer3{
    background-color: white;
    width: 250px;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 10px;
    z-index: 997;
    transition: 500ms;
}

.layer-item{
    background-color: #ffffff;
    border: 1px gray solid;
    padding: 0.5rem;
    display: flex;
    border-radius: 5px;
    margin-bottom: 1rem;
    flex-direction: column;

}