.simulasiHp{
    background-color: white;
    width: 250px;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    z-index: 997;
    transition: 500ms;
}


/* width */
.hitung-intensitas::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .hitung-intensitas::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .hitung-intensitas::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
  }
  
  /* Handle on hover */
  .hitung-intensitas::-webkit-scrollbar-thumb:hover {
    background: rgba(20, 20, 20, 0.3);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

button.simulasi{
    z-index: 0;
    width: 235px;
    background-color: #1983ec;
    border-width: 0px;
    padding: 10px;
    border-radius: 5px;
    color:white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}

button.simulasi.batal{
    background-color: #f31515;
}

button.simulasi.batal:hover{
    background-color: #f32a2a;
}

button.simulasi:hover{
    background-color: #2a8ff3;
}

p{
    margin: 0px;
}

.izin-hitung{
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    align-items:center;
}

.list-choice{
    z-index: 2;
    width:235px;
    position: absolute;
    background-color: white;
    font-size: 14px;
}

.choice{
    padding: 10px 8px;
    background-color: rgb(247, 247, 247);
}

.choice:hover{
    cursor: pointer;
    background-color: #5da7f1;
    color: white;
}

.simulasiHp .keterangan{
    width: 18px;
    height: 18px;
    margin-left: 5px;
    color:#b1b1b1;
    cursor: pointer;
}


.hitung-intensitas p{
    font-size: 14px;
}

.keterangan-intensitas{
    width: 215px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #afd4fa;
    margin-bottom: 10px;
}